description = "Content container"

[viewBag]
==
{% component 'blogPost' %}
{% component 'SeoBlogPost' data=post %}

<article class="content-container">
    <header>
        <img src="{{ (post.featured_images|first).path }}" alt="" class="quarter-width">
        <h1>{{ post.title }}</h1>
    </header>

    {{ post.content_html|raw }}
    <div class="mt-30 p-10 flex-between-center border-top-light">
        <div class="flex-between-center">
            <span class="font-medium">{{ post.user.first_name }} {{ post.user.last_name }}</span>
            <hr class="separator mx-10 my-0 grey-bg">
            <span class="font-light">{{ post.published_at|date('d M, Y') }}</span>
        </div>
        <div>
            {% component 'ssbuttonsssb' %}
        </div>
    </div>
</article>
