[viewBag]
==

<form action="">
    <label class="">
        <span>Name</span>
        <input type="text" name="Name" required>
    </label>
    <label class="">
        <span>E-Mail</span>
        <input type="email" name="email" required>
    </label>
    <label class="">
        <span>Phone Number</span>
        <input type="tel" name="phone" required>
    </label>
    <div class="">
        <label for="feedback-message">Message</label>
        <textarea id="feedback-message"
                  name="message"
                  class="full-width"
                  rows="10"></textarea>
    </div>
    <button class="btn primary-bg white-txt">Submit</button>
</form>
