[staticMenu]
code = "main"

[staticMenu policies]
code = "policies"

[staticMenu categories]
code = "categories"
==
<footer class="primary-bg success-txt clear">
    <div class="container flex-between-start flex-wrap box p2-40 ">
        <nav>
            <img src="{{ 'assets/images/logo.png'|theme }}" alt="LOGO" class="white-txt font-bold font-30 w-128 opacity-7" style="filter: grayscale(1)">
            {% component 'staticMenu' %}
        </nav>
        <nav>
            <h3 class="white-txt">POLICIES</h3>
            {% component 'policies' %}
        </nav>
        <nav>
            <h3 class="white-txt">CATEGORIES</h3>
            {% component 'categories' %}
        </nav>
        <nav>
            <h3 class="white-txt">CONTACTS</h3>
            <p>
                <b>E-Mail:</b> <span class="danger-txt">info@site.com</span></p>
        </nav>
    </div>
    <div class="copyright text-center py-10 font-13 dark-bg success-dark-txt">
        Copyright &copy; {{ "now"|date("Y") }} Rating Brokers
    </div>
</footer>
