description = "Sidebar"

[blogPosts]
description = "Main feed"
postsPerPage = 1
pageNumber = "{{ :page }}"
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"

[viewBag]
==

{% set posts = blogPosts.posts %}

<aside class="sidebar">
    {% for post in posts %}
    <a href="/{{ post.categories[0].slug }}/{{ post.slug }}" class="snippet">
        <div class="preview">
            <img src="{{ (post.featured_images|first).path }}" alt="">
        </div>
        <p class="title font-bold font-16">{{ post.title }}</p>
        <p class="flex-between-center primary-txt">
            <span class="post-date">{{ post.published_at|date('d M, Y') }}</span>
            <span class="detail">READ →</span>
        </p>
    </a>
    {% endfor %}
</aside>
