<div class="banner primary-bg relative">
    <div class="absolute top left bottom right">
        <img src="{{ 'assets/images/logo.svg'|theme }}" alt="">
        <img src="{{ 'assets/images/logo.svg'|theme }}" alt="">
    </div>
    <div class="container full-height flex-center-start flex-wrap flex-column absolute top left bottom right  box px-30">
        <p class="font-36 font-bold white-txt my-0">
            THE <span class="black-txt">EXPERT</span> GROWE<br> FINANCIAL ADVICE
        </p>
        <p class="font-18 black-txt my-20">
            Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.<br>
            Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet
        </p>
        <label for="pop-up-shower" class="btn dark-bg white-txt font-14 py-10 px-30 cursor-pointer hover-primary-bg">Find a Broker</label>
    </div>
</div>
