<div class="cover flex-between-stretch primary-bg">
    <div class="white-bg flex-grow"></div>
    <div class="container full-width">
        <div class="flex-center-start flex-wrap flex-column">
            <p class="font-large font-bold my-0">
                THE <span class="focus-txt">EXPERT</span> GROWE<br> FINANCIAL ADVICE
            </p>
            <p class="font-18 my-20">
                Lorem ipsum dolor sit amet, ligula magna at etiam aliquip venenatis.<br>
                Vitae sit felis donec, suscipit tortor et sapien donec ac nec. Nam vel eu amet
            </p>
            <label for="pop-up-shower" class="btn white-txt font-14 py-10 px-30 cursor-pointer hover-primary-bg">Find a Broker</label>
        </div>
        <div class="primary-bg">
            <img src="{{ 'assets/images/logo.svg'|theme }}" alt="">
            <img src="{{ 'assets/images/logo.svg'|theme }}" alt="">
        </div>
    </div>
    <div class="primary-bg flex-grow"></div>
</div>
