[staticMenu]
code = "main"

[staticMenu policies]
code = "policies"

[staticMenu categories]
code = "categories"
==
<footer class="dark-bg light-txt clear pt-20">
    <div class="container flex-between-start flex-wrap box p-20">
        <div class="text-center">
            <img src="{{ 'assets/images/logo.svg'|theme }}" alt="LOGO" width="76" class="white-txt font-bold font-30 opacity-7">
            <p>
                <b>E-Mail:</b> <span class="primary-txt">info@site.com</span>
            </p>
        </div>
        <nav class="text-left">
            <h3 class="primary-txt">SITEMAP</h3>
            {% component 'staticMenu' %}
        </nav>
        <nav>
            <h3 class="primary-txt">POLICIES</h3>
            {% component 'policies' %}
        </nav>
        <nav>
            <h3 class="primary-txt">CATEGORIES</h3>
            {% component 'categories' %}
        </nav>
    </div>
    <div class="copyright text-center py-10 font-13 hard-bg dark-txt">
        Copyright &copy; {{ "now"|date("Y") }} Trusted Brokers
    </div>
</footer>
