<div id="wrap-comment-form">
    <div id="comment-form">

        <p class="font-medium font-20">Comments
            <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                      title="Cancel reply">×</a>
            </small>
        </p>
        <form class="px-10">
            <div id="comment_flash_message"></div>
            <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">
            <!-- Content Field -->
            <div class="my-5">
                <textarea id="comment-text"
                          name="content"
                          placeholder="Leave a comment ..."
                          class="full-width resize-none"
                          rows="10"></textarea>
            </div>

            {% if (__SELF__.settings.recaptcha_enabled) %}
            <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.site_key }}"></div>
            {% endif %}
            <div class="fields">
                {% if(user == false) %}
                <!-- Name Field -->
                <div class="my-5 full-width">
                    <input name="author"
                           placeholder="Name"
                           class="full-width"
                           type="text">
                </div>

                <!-- Email Field -->
                <div class="my-5 full-width">
                    <input name="email"
                           type="email"
                           placeholder="E-Mail"
                           class="full-width">
                </div>
                {% endif %}
                <!-- Submit Field -->
                <div class="my-5 full-width">
                    <button type="submit"
                            class="btn full-width cursor-pointer dark-bg white-txt border-none px-10 py-10 font-14"
                            onclick="Comment.saveButton(event)">Post Comment</button>
                </div>
            </div>
        </form>
    </div>
</div>


