<div id="wrap-comment-form">
    <div id="comment-form">

        <p class="font-medium font-20">Comments
            <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                      title="Cancel reply">×</a>
            </small>
        </p>
        <form>
            <div id="comment_flash_message"></div>

            <!-- Content Field -->
            <div class="my-5">
                <textarea id="comment-text"
                          name="content"
                          placeholder="Leave a comment ..."
                          class="full-width resize-none"
                          rows="10"></textarea>
            </div>

            {% if(user == false) %}
                <!-- Name Field -->
                <div class="my-5">
                    <input name="author"
                           placeholder="Name"
                           class="full-width"
                           type="text">
                </div>

                <!-- Email Field -->
                <div class="my-5">
                    <input name="email"
                           type="email"
                           placeholder="E-Mail"
                           class="full-width">
                </div>
            {% endif %}

            <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">

            {% if (__SELF__.settings.recaptcha_enabled) %}
            <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.site_key }}"></div>
            {% endif %}

            <!-- Submit Field -->
            <div class="my-5 text-right">
                <button type="submit" class="btn cursor-pointer danger-bg hover-success-bg white-txt border-none px-10 py-5" onclick="Comment.saveButton(event)">Post Comment</button>
            </div>
        </form>
    </div>
</div>


