description = "Home Page layout"

[staticPage]
useContent = 1
default = 1
childLayout = "Default layout"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 18
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "broker-to-avoid"
==
<!DOCTYPE html>
<html>
<head>
        {% partial 'head' %}
</head>
<body>
    <!-- Header -->
    {% partial 'header' %}

    {% partial 'cover' %}

    <main>
        <div class="container">
            {% partial 'avoidfeed' %}
            {% partial 'topfeed' %}
        </div>

        <div class="container">
            <div class="feed grid">
                {% partial 'feed' %}
            </div>
        </div>

        <div class="silver-bg">
            <div class="container">
                {% partial 'callback' %}
            </div>
        </div>

        <div class="container content-container font-14">
            <div class="max-w-860">{% page %}</div>
        </div>
    </main>

    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <!--
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
