description = "Home Page layout"

[staticPage]
useContent = 1
default = 1
childLayout = "Default layout"


[blogPosts]
description = "Main feed"
postsPerPage = 18
pageNumber = "{{ :page }}"
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"

[SeoStaticPage]

[searchForm]
resultPage = "/search"
categoryFilter = 0

[genericForm]
messages_success = "Your form has been sent successfully!"
messages_errors = "Your form has been sent successfully!"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<!DOCTYPE html>
<html>
<head>
    {% component 'SeoStaticPage' %}
    {% partial 'head' %}
</head>
<body>
    <!-- Header -->
    {% partial 'header' %}

    {% partial 'cover' %}

    <main>
        <div class="py-5">
            <form class="top-feed container my-5 px-20 py-30 box relative" autocomplete="off">
                <nav class="nowrap overflow-hidden p-10 font-none ">
                    {% partial 'topfeed' %}
                </nav>
            </form>
        </div>
        <div class="container p-20 my-30 light-bg box">
            <nav class="main-feed">
                {% partial 'feed' %}
            </nav>
        </div>

        <div class="seo-container container box py-40 my-30">
            {% component 'genericForm' %}
            <article class="content-container my-30">{% page %}</article>
        </div>
    </main>
    <div class="mr-30 pb-20 sticky bottom float-right">
        <button class="btn up-btn primary-bg white-txt border-none" onclick="window.scrollTo(0,0)">❯</button>
    </div>

    <!-- Footer -->
    {% partial 'footer' %}

    {% partial 'search' %}

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}
    <script>
        (body => {
            var logo = body.querySelector("img.logo");
            window.onscroll = event => {
                if ((window.pageYOffset || document.documentElement.scrollTop) > 0) {
                    logo.style.height = "28px";
                } else {
                    logo.style.height = "48px";
                }
            }
        })(document.currentScript.parentNode)
    </script>
</body>
</html>
