description = "Post page Layout"
==

<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>

    <!-- Header -->
    {% partial 'header' %}

    <!-- Content -->
    <main>
        <div class="container">
            {% partial 'avoidfeed' %}
            {% partial 'topfeed' %}
        </div>

        {% page %}
    </main>

    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <!--
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
