description = "Static Layout"

[staticPage]
useContent = 1
default = 0


[staticBreadcrumbs]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>

    <!-- Header -->
    {% partial 'header' %}

    <!-- Content -->
    <main>
        {% component 'staticBreadcrumbs' %}
        <div class="container">
            {% partial 'avoidfeed' %}
            {% partial 'topfeed' %}
        </div>

        <div class="container max-w-860 content-container font-14">
            {% page %}
        </div>
    </main>

    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <!--
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
