description = "Static Layout"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]

[SeoStaticPage]

[searchForm]
resultPage = "/search"
categoryFilter = 0
==
<!DOCTYPE html>
<html>
<head>
    {% component 'SeoStaticPage' %}
    {% partial 'head' %}
</head>
<body>

    <!-- Header -->
    {% partial 'header' %}

    <!-- Content -->
    <main>
        <nav class="container breadcrumbs">
            {% component 'staticBreadcrumbs' %}
        </nav>

        <div class="container">
            <article class="content-container">
                {% page %}
            </article>
        </div>
    </main>
    <div class="mr-30 pb-20 sticky bottom float-right">
        <button class="btn up-btn primary-bg white-txt border-none" onclick="window.scrollTo(0,0)">❯</button>
    </div>
    <!-- Footer -->
    {% partial 'footer' %}

    {% partial 'search' %}

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
