description = "Default Layout"

[staticMenu]
code = "main"

[SeoCmsPage]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>
<div class="primary-bg flex-between-stretch flex-column" style="min-height: 100vh">


<!-- Header -->
    <header id="layout-header" class="header sticky top primary-bg white-txt z-index-4">
        <!-- Nav -->
        <nav class="container flex-between-center p-10" role="navigation">
            <a href="/" class="font-none"><img src="{{ 'assets/images/logo.png'|theme }}" alt="LOGO" class="logo"></a>

            <div class="main-menu font-none font-medium">
                <input id="menu-shower" type="checkbox" autocomplete="off" hidden>
                <label class="hamburger inline-block cursor-pointer" for="menu-shower">
                    <span></span>
                    <span></span>
                </label>
                {% component 'staticMenu' %}
            </div>
        </nav>
    </header>

    {% page %}


    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</div>
</body>
</html>