description = "Home Page layout"

[staticPage]
useContent = 1
default = 1
childLayout = "Default layout"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 18
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "broker-to-avoid"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header" class="sticky top">
            {% partial 'header' %}
        </header>

        {% partial 'cover' %}

        <main>
            <h1>Default Layout</h1>

            <div class="container">
                {% partial 'avoidfeed' %}
                {% partial 'topfeed' %}
            </div>
            <hr>
            <div class="container">
                <div class="feed grid">
                    {% partial 'feed' %}
                </div>
            </div>
            <hr>
            <div class="silver-bg">
                {% partial 'callback' %}
            </div>

            <div class="container">
                {% partial 'content' %}
            </div>

        </main>

        <!-- Footer -->
        <footer>
            {% partial 'footer' %}
        </footer>

        <!-- Scripts -->
        <!--
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        -->
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
