description = "Post page Layout"
==

<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>

    <!-- Header -->
    {% partial 'header' %}

    <!-- Content -->
    <main>
        <nav class="container top-feed py-30">
            {% partial 'topfeed' %}
            {% partial 'avoidfeed' %}
        </nav>

        {% page %}
    </main>
    <div class="mr-30 pb-20 sticky bottom float-right">
        <button class="btn up-btn primary-bg white-txt border-none" onclick="window.scrollTo(0,0)">❯</button>
    </div>
    <!-- Footer -->
    {% partial 'footer' %}

    <!-- Scripts -->
    <!--
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>
