description = "Category"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"
categoryPage = "regulated-brokers"
postPage = "regulated-broker"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "regulated-brokers"

[staticMenu]
code = "main"

[staticBreadcrumbs]
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>

<!-- Header -->
<header id="layout-header">
    {% partial 'header' %}
</header>

<!-- Content -->
<main>
    {% component 'staticBreadcrumbs'%}

    {% page %}
</main>

<!-- Footer -->
<footer>
    {% partial 'footer' %}
</footer>

<!-- Scripts -->
<!--
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
-->
<script src="{{ 'assets/javascript/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>